@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
}
.head-bold{
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 10px;
}

/* custom button */
.button {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;

  cursor: pointer;
  display: inline-block;
}

.button-1 {
  color: #38b6ff;
  border: 3px solid #38b6ff;
  background-image: -webkit-linear-gradient(30deg, #fff 50%, transparent 50%);
  background-image: linear-gradient(30deg, #fff 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  border-radius: 0.75rem;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 500ms ease-in-out;
}
.button-1:hover {
  background-position: 100%;
  color: #fff;
  background-color: #38b6ff;
}
.button-2 {
  color: #fff;
  border: 3px solid #38b6ff;
  border-radius: 0.75rem;
  background-image: -webkit-linear-gradient(
    30deg,
    #38b6ff 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #38b6ff 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 500ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: #38b6ff;
  box-shadow: 0px 5px 10px 0px rgba(19, 168, 214, 0.884);
}

/* swiper css */

.swiper-wrapper {
  margin-bottom: 40px !important;
}

.backgrond-line {
  background: rgba(28, 96, 163, 0.5);
  display: inline;
  padding: 1px;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #38b6ff;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0980c5;
}

/* selection text color */

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #38b6ff;
}

::selection {
  color: white;
  background: #2b9cdd;
}

.verified {
  background: #18b47b;
}
.pending {
  background: #f0d447;
  color: rgb(34, 34, 34);
}
.rejected {
  background: #f41042;
}
.accepted {
  background: #18b47b;
  color: white;
}
.bought {
  background: #38b6ff;
  text-transform: uppercase;
  color: white;
}
.rejecteded {
  color: #f41042;
}
.accepteded {
  color: #18b47b;
}
.boughted {
  color: #38b6ff;
  text-transform: capitalize;
}
.verifiednobg{
  font-weight: bold;
  color: #18b47b;
  text-transform: capitalize;
}
